.gameTitle {
    font-family: 'Star Jedi', arial;
    font-size: 68px;
    text-shadow: 4px 4px 4px #aaa;
  };

.gameStartContent {
  opacity: 1 !important;
};

.logo-img {
  width: 50%;
  padding-top: 30px;
}

.btn-gameStart {
  width: 40%;
  background-color: #1C1C1C !important;
  font-size: 30px !important;
  font-weight: bold !important;
}